/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 May, 2024, 1:50:21 PM
    Author     : poojajungi
*/
#btn{
    -fx-background-image: url(../images/delete.png);
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
#btnedit{
    -fx-background-image: url(../images/editpen.png);
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#title{
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%,#6f085a 0%,#c51c53 100%);
}


